.Toastify__toast {
  border-radius: 6px !important;
  z-index: 999999999999999999 !important;
}


.custom-toast-container {
  border-radius: 5px;
}

.custom-toast-body {
  margin: auto 10px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}
