.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  & > label {
    text-align: left;
  }
}

.inlineLabel {
  width: 35%;
}

.inlineLabel::after {
  content: ":";
  padding-left: 5px;
}

.inlineInput {
  width: 65%;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 9px 10px;
}

.inlineInput:focus {
  border: 1px solid lightblue;
}

.block {
  display: block;
}

.blockLabel {
  display: block;
  padding-bottom: 3px;
}

.blockInput {
  display: block;
  width: 100%;
}
